<section class="container info animated" id="rift">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://rift.com.ua/"
      ><img
        src="./images/rift_logo.svg"
        width="50"
        alt="RIFT logo"
        style="object-fit: contain; background: #fff; padding: 6px"
      />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">
      RIFT - спорядження для гір та активного відпочинку
    </h3>
  </div>
  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” магазин гарантує знижку за промокодом
    <strong class="info__promocode">miwasik</strong>:
  </p>
  <ul>
    <li>
      <strong class="info__orange">10%</strong> - на будь-яке замовлення
    </li>
  </ul>
  <p>
    «Спорядження вирішує»: у горах різницю робить не намір, а те, що в рюкзаку.
    В RIFT - понад 4500 товарів від 40+ брендів у 100+ категоріях: намети,
    спальники, рюкзаки, взуття та одяг.
  </p>
  <br />
  <p>
    Характеристики зведені до єдиного стандарту - вага в грамах, обʼєм у літрах,
    температура спальника парою комфорт/екстрим за шкалою ISO 23537, - тож
    моделі можна чесно порівнювати між собою. А понад 40 гайдів допоможуть
    обрати те, що справді потрібно.
  </p>
  <br />
  <p>
    Замовляйте на сайті:
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://rift.com.ua/"
      >https://rift.com.ua</a
    >
  </p>
  <br />
  <p>Слідкуйте за новинками:</p>
  <ul>
    <li>
      <a
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        href="https://www.instagram.com/rift_ua"
        >Instagram</a
      >
    </li>
    <li>
      <a
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        href="https://t.me/rift_ukraine"
        >Telegram</a
      >
    </li>
  </ul>
</section>
