<section class="container info animated" id="adv-it">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://advstore.lt/en-uk"
      ><img src="./images/adv_logo.jpg" width="50" alt="ADV logo" />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">
      @dv - один крок до пригод, магазин оригінального брендованого взуття
    </h3>
  </div>

  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” магазин гарантує знижки за промокодом
    <strong class="info__promocode">miwasik</strong>:
  </p>
  <ul>
    <li><strong class="info__orange">20%</strong> - на весь асортимент</li>
  </ul>
  <p>
    Замовити можна на сайті:
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://advstore.lt/uk-uk"
      >https://advstore.lt</a
    >
  </p>
  <br />
  <p>
    Або залишайте замовлення в
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.instagram.com/advstore.ua?igsh=NGw4ZThjcjFqamEw"
      >Instagram</a
    >
  </p>
</section>
