<section class="container info animated" id="mes">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.instagram.com/smv_cv?igshid=OGQ5ZDc2ODk2ZA%3D%3D"
      ><img
        src="./images/machine_embroidery_studio_logo.jpg"
        width="50"
        alt="MES logo"
      />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">
      Студія машинної вишивки - втілюємо у життя ідеї нитками
    </h3>
  </div>
  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” студія гарантує знижку за промокодом
    <strong class="info__promocode">oblenergo</strong>:
  </p>
  <ul>
    <li><strong class="info__orange">20%</strong> - на будь-яке замовлення*</li>
  </ul>
  <p>
    Залишайте замовлення в
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.instagram.com/smv_cv?igshid=OGQ5ZDc2ODk2ZA%3D%3D"
      >Instagram</a
    >
  </p>
  <br />
  <p>
    Телефонуйте за номером:
    <a class="info__orange" href="tel:+380660153611">+380660153611</a>
  </p>
  <br />
  <p>Або заходьте в студію за адресою:</p>
  <ul>
    <li>
      <a
        href="https://maps.app.goo.gl/EDkfGawo44xe5qALA"
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >м. Чернівці, Оренбурзька 7а, БЦ «Головний», оф.414</a
      >
    </li>
  </ul>
  <p class="info__note">
    * - знижка не розповсюджується на розробку програми вишивки
  </p>
</section>
