<section class="container info animated" id="creta">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://cretaclothingbrand.com/"
      ><img src="./images/creta.logo@300x.png" width="50" alt="creta logo" />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">Creta - одяг натхненний горами та свободою руху</h3>
  </div>

  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” магазин гарантує знижки за промокодом
    <strong class="info__promocode">MIWASIK10</strong>:
  </p>
  <ul>
    <li><strong class="info__orange">10%</strong> - на замовлення</li>
  </ul>
  <p>
    Замовити можна на сайті:
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://cretaclothingbrand.com"
      >https://cretaclothingbrand.com</a
    >
  </p>
  <br />
  <p>
    Або залишайте замовлення в
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.instagram.com/therealcreta"
      >Instagram</a
    >
  </p>
</section>
