<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      type="button"
      class="modal__close-button"
      aria-label="Закрити"
      data-modal-close
    >
      X
    </button>

    <form class="modal__form-field">
      <p class="modal__title">Залиште свої пропозиції, щодо роботи компанії</p>
      <label class="modal__label"
        >Ім'я
        <span class="modal__input-form">
          <input
            class="modal__input"
            type="text"
            name="name"
            placeholder="Працівник..."
            autofocus
          />
        </span>
      </label>
      <label class="modal__comment" for="comment"
        >Коментар
        <textarea
          class="modal__textarea"
          name="comment"
          id="comment"
          rows="6"
          placeholder="Ваша пропозиція..."
        ></textarea>
      </label>

      <button class="modal__send-button" type="submit">Відправити</button>
    </form>
  </div>
</div>
