<section class="container info animated" id="pronto">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://prontopizza.ua/chernivtsi/"
      ><img src="/src/images/pronto_logo.jpg" width="50" alt="pronto logo" />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">PRONTO PIZZA - не просто піца і суші
      
    </h3>
  </div>

  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” мережа гарантує знижки за промокодом
    <strong class="info__promocode">PPCHE25</strong>:
  </p>
  <ul>
    <li>Піца - <strong class="info__orange">30%</strong>*</li>
    <li>Суші - <strong class="info__orange">20%</strong></li>
    <li>Сети - <strong class="info__orange">10%</strong></li>
  </ul>
  <p>
    Замовляйте на сайті:
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://prontopizza.ua/chernivtsi/"
      >https://prontopizza.ua</a
    >
  </p>
  <br />
  <p>
    Телефонуйте за номерами:<a class="info__orange" href="tel:+380673770029"
      >+380673770029</a
    >
    чи <a class="info__orange" href="tel:+380660263150">+380660263150</a>
  </p>

  <br />
  <p>Або забирайте з наших ресторанів Pronto Pizza в Чернівцях:</p>
  <ul>
    <li>
      <a
        href="https://maps.app.goo.gl/Vjb8fzawdR2uA8xQ9"
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >м. Чернівці, проспект Незалежності, 90</a
      >
    </li>
    <li>
      <a
        href="https://maps.app.goo.gl/5QK4b6vBytyxZbup8"
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >м. Чернівці, вул. Руська, 253</a
      >
    </li>
    <li>
      <a
        href="https://maps.app.goo.gl/vdnbW43XBhUt6END6"
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >м. Чернівці, вул. Вокзальна, 54</a
      >
    </li>
  </ul>
  <br />
  <p class="info__note">* - крім наборів</p>
</section>
