<section class="container info animated" id="wog">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://wog.ua/"
      ><img
        src="/src/images/WOG-logo-background-RGB.svg"
        width="50"
        alt="WOG logo"
        style="object-fit: contain; background: #fff; padding: 6px"
      />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">WOG - мережа автозаправних станцій</h3>
  </div>

  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” мережа гарантує знижки за
    промокодом:
  </p>
  <ul>
    <li>
      Бензин чи дизельне паливо -
      <strong class="info__orange">5 грн/л</strong>
    </li>
    <li>Газ - <strong class="info__orange">2 грн/л</strong></li>
  </ul>
  <p>
    Також Вас чекають знижки до
    <strong class="info__orange">20%</strong> на каву чи смаколики та до
    <strong class="info__orange">10%</strong> на інші товари (окрім алкоголю
    та сигарет).
  </p>
  <br />
  <p>
    Для отримання промокоду звертайтесь до
    <strong class="info__orange">Сакаля Михайла</strong> чи
    <strong class="info__orange">Собка Володимира</strong>.
  </p>
  <br />
  <p>
    Для користування промокодом потрібно встановити мобільний додаток
    <strong>WOG PRIDE</strong>:
  </p>
  <ul>
    <li>
      <a
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        href="https://apps.apple.com/ua/app/wog-pride/id1447353073?l=uk"
        >App Store</a
      >
    </li>
    <li>
      <a
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        href="https://play.google.com/store/apps/details?id=d2.android.apps.wog"
        >Google Play</a
      >
    </li>
  </ul>
</section>
