<section class="container partners">
  <h1 class="partners__title animate__animated animate__fadeInDown">
    Знижки для працівників АТ “Чернівціобленерго”
  </h1>
  <h2 class="animate__animated animate__fadeInDown">Наші партнери</h2>
  <ul class="partners__list animate__animated animate__fadeInDown">
    <li>
      <a href="#pronto" class="partners__link"
        ><img src="./images/pronto_logo.jpg" width="50" alt="PRONTO logo"
      /></a>
    </li>
    <li>
      <a href="#toko" class="partners__link"
        ><img src="./images/toko_logo.jpg" width="50" alt="TOKO logo"
      /></a>
    </li>
    <li>
      <a href="#adv-it" class="partners__link"
        ><img src="./images/adv_logo.jpg" width="50" alt="ADV logo"
      /></a>
    </li>
    <li>
      <a href="#gorgany" class="partners__link"
        ><img src="./images/gorgany_logo.jpg" width="50" alt="Gorgany logo"
      /></a>
    </li>
    <li>
      <a href="#mes" class="partners__link"
        ><img
          src="./images/machine_embroidery_studio_logo.jpg"
          width="50"
          alt="MES logo"
      /></a>
    </li>
    <li>
      <a href="#" class="partners__link"
        ><img src="./images/coming_soon.jpg" width="50" alt="Coming soon"
      /></a>
    </li>
  </ul>
</section>
