<section class="container info animated" id="hlib">
  <div class="info__main">
    <img
      class="info__link"
      src="./images/pershyi_hlib_logo.png"
      width="50"
      alt="Перший хліб logo"
      style="object-fit: contain; background: #fff; padding: 6px"
    />
    <h3 class="info__title">
      «Перший хліб» - фірмові магазини Чернівецького хлібокомбінату
    </h3>
  </div>
  <p class="info__promotext">
    Чернівецький хлібокомбінат дарує працівникам АТ “Чернівціобленерго”
    аромат і смак справжнього свіжого хліба. За карткою клієнта продукцію
    можна придбати за оптовими цінами в мережі магазинів «Перший хліб».
  </p>
  <p>
    Приємний бонус - магазин «Перший хліб» відкрився зовсім поруч із
    підприємством, у приміщенні, де раніше знаходився магазин «Сито».
  </p>
  <br />
  <p>Наразі знижка діє на окремі товари:</p>
  <ul class="info__products">
    <li>
      <img
        class="info__photo"
        src="./images/pershyi_hlib_barcode_baton.jpg"
        alt="Штрих-код: Звичайний батон 500 г"
      />
      <span>Звичайний батон, 500 г</span>
    </li>
    <li>
      <img
        class="info__photo"
        src="./images/pershyi_hlib_barcode_orilskyi.jpg"
        alt="Штрих-код: Орільський хліб форм. 600 г"
      />
      <span>Орільський хліб форм., 600 г</span>
    </li>
  </ul>
  <p class="info__note">
    Перелік товарів зі знижкою може розширюватися залежно від попиту
  </p>
  <br />
  <p>
    Для отримання картки клієнта звертайтесь до
    <strong class="info__orange">Сакаля Михайла</strong> чи
    <strong class="info__orange">Світайла Владислава</strong>.
  </p>
</section>
