<section class="container info animated" id="gorgany">
  <div class="info__main">
    <a
      class="info__link"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.gorgany.com/"
      ><img src="./images/gorgany_logo.jpg" width="50" alt="Gorgany logo" />
    </a>
    <span class="info__tooltip">Тисни для переходу</span>
    <h3 class="info__title">
      Магазин Gorgany експерт туристичного спорядження
    </h3>
  </div>
  <p class="info__promotext">
    Для працівників АТ “Чернівціобленерго” магазин гарантує знижку за промокодом
    <strong class="info__promocode">mountain.che</strong>:
  </p>
  <ul>
    <li><strong class="info__orange">10%</strong> - на всі товари</li>
  </ul>
  <p>
    Замовляйте на сайті:
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.gorgany.com/"
      >https://www.gorgany.com</a
    >
  </p>
  <br />
  <p>
    Залишайте замовлення в
    <a
      class="info__orange"
      target="_blank"
      rel="nofollow noreferrer noopener"
      href="https://www.instagram.com/gorgany_cv?igsh=OTJxaDlpa2NhdnUw"
      >Instagram</a
    >
  </p>

  <br />
  <p>Або заходьте в магазин за адресою:</p>
  <ul>
    <li>
      <a
        href="https://maps.app.goo.gl/sDD5ZatWTQXiLHtk7"
        class="info__orange"
        target="_blank"
        rel="nofollow noreferrer noopener"
        >м. Чернівці, вул. Небесної сотні, 23</a
      >
    </li>
  </ul>
  <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3250.729964099223!2d25.93812641399149!3d48.262656157106335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473408d2d529dfdf%3A0x1a905cb39314a397!2sGorgany!5e1!3m2!1suk!2sua!4v1700421246857!5m2!1suk!2sua"
        width="600"
        height="450"
        class="google-maps"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe> -->
</section>
